<div class="wrapper-content container-fluid">
    <div class="row">
        <div class="col-md-6">

            <h2 class="text-black m-t-nil">Update Distances</h2>
            <p>&nbsp;</p>

            <form role="form">

                <div class="form-group">
                    <label class="form-label update-team-name" for="email">Belfast</label>
                    <input type="number" placeholder="1234" class="form-control" ng-model="vm.teams.Belfast">
                </div>
                
                <div class="form-group">
                    <label class="form-label update-team-name" for="email">Cambridge</label>
                    <input type="number" placeholder="1234" class="form-control" ng-model="vm.teams.Cambridge">
                </div>

                
                <div class="form-group">
                    <label class="form-label update-team-name" for="email">Canberra</label>
                    <input type="number" placeholder="1234" class="form-control" ng-model="vm.teams.Canberra">
                </div>

                
                <div class="form-group">
                    <label class="form-label update-team-name" for="email">Southborough</label>
                    <input type="number" placeholder="1234" class="form-control" ng-model="vm.teams.Southborough">
                </div>

                
                <div class="form-group">
                    <label class="form-label update-team-name" for="email">Pleasanton</label>
                    <input type="number" placeholder="1234" class="form-control" ng-model="vm.teams.Pleasanton">
                </div>

                
                <div class="form-group">
                    <label class="form-label update-team-name" for="email">Bangalore</label>
                    <input type="number" placeholder="1234" class="form-control" ng-model="vm.teams.Bangalore">
                </div>

                <div>
                    <button class="btn button-primary pull-right" ng-click="vm.update()">Update Distances</button>
                </div>
            </form>
        </div>

        <div class="col-md-6">

            <h2 class="text-black m-t-nil">Update Streams</h2>

            <p>To find the stream ID, click the share button on the video, choose 'Copy Link' and the stream ID will be the number at the end of the link.</p>

            <form role="form">

                <div class="form-group">
                    <label class="form-label update-team-name" for="email">Belfast</label>
                    <input type="number" placeholder="1234" class="form-control" ng-model="vm.streams.Belfast">
                </div>
                
                <div class="form-group">
                    <label class="form-label update-team-name" for="email">Cambridge</label>
                    <input type="number" placeholder="1234" class="form-control" ng-model="vm.streams.Cambridge">
                </div>

                
                <div class="form-group">
                    <label class="form-label update-team-name" for="email">Canberra</label>
                    <input type="number" placeholder="1234" class="form-control" ng-model="vm.streams.Canberra">
                </div>

                
                <div class="form-group">
                    <label class="form-label update-team-name" for="email">Southborough</label>
                    <input type="number" placeholder="1234" class="form-control" ng-model="vm.streams.Southborough">
                </div>

                
                <div class="form-group">
                    <label class="form-label update-team-name" for="email">Pleasanton</label>
                    <input type="number" placeholder="1234" class="form-control" ng-model="vm.streams.Pleasanton">
                </div>

                
                <div class="form-group">
                    <label class="form-label update-team-name" for="email">Bangalore</label>
                    <input type="number" placeholder="1234" class="form-control" ng-model="vm.streams.Bangalore">
                </div>

                <div>
                    <button class="btn button-primary pull-right" ng-click="vm.updateStreams()">Update Streams</button>
                </div>
            </form>
        </div>
    </div>
</div>