<div class="affix-container" ng-controller="PageHeaderCtrl as vm">
    <nav class="navbar navbar-static-top navbar-static-top-dark" ng-class="{'back-button': vm.backButton, 'content-panel':vm.contentPanel}">
        <div class="navbar-header" ng-class="{'top-link-dropdown-2':vm.topSearchExpanded==false}">
            <div class="product-styling"></div>
            
            <div class="primary-bg page-heading" ng-include="'app/views/common/content_header.html'"></div>
        </div>
        
        <a href="https://github.hpe.com/caf/elements" class="shameless-plug">Made using Elements</a>
    </nav>
</div>